/* line 1, ../sass/_nav.scss */
.header {
  margin-top: 40px;
}

/* line 5, ../sass/_nav.scss */
.nav-tabs {
  border-bottom: 0;
}

/* line 1, ../sass/_carousel.scss */
.slide1 {
  height: 450px;
  background: url(../img/louisvillecompress.jpg);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("/app/webroot/images/louisvillecompress.jpg") no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url("/app/webroot/images/louisvillecompress.jpg") no-repeat;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("/app/webroot/images/louisvillecompress.jpg") no-repeat;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("/app/webroot/images/louisvillecompress.jpg") no-repeat;
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("/app/webroot/images/louisvillecompress.jpg") no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("/app/webroot/images/louisvillecompress.jpg") no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  -ms-behavior: url("/app/webroot/images/backgroundsize.min.htc");
}

/* line 16, ../sass/_carousel.scss */
.slide2 {
  height: 450px;
  background: url(../img/louisvillecompress.jpg);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("/app/webroot/images/louisvillecompress.jpg") no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url("/app/webroot/images/louisvillecompress.jpg") no-repeat;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("/app/webroot/images/louisvillecompress.jpg") no-repeat;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("/app/webroot/images/louisvillecompress.jpg") no-repeat;
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("/app/webroot/images/louisvillecompress.jpg") no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("/app/webroot/images/louisvillecompress.jpg") no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  -ms-behavior: url("/app/webroot/images/backgroundsize.min.htc");
}

/* line 31, ../sass/_carousel.scss */
.slide3 {
  height: 450px;
  background: url(../img/louisvillecompress.jpg);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("/app/webroot/images/louisvillecompress.jpg") no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url("/app/webroot/images/louisvillecompress.jpg") no-repeat;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("/app/webroot/images/louisvillecompress.jpg") no-repeat;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("/app/webroot/images/louisvillecompress.jpg") no-repeat;
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("/app/webroot/images/louisvillecompress.jpg") no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("/app/webroot/images/louisvillecompress.jpg") no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  -ms-behavior: url("/app/webroot/images/backgroundsize.min.htc");
}

/* line 45, ../sass/_carousel.scss */
.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* line 50, ../sass/_carousel.scss */
.slideContainer ul {
  height: 450px;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 58, ../sass/_carousel.scss */
.slideContainer ul li {
  position: relative;
  float: left;
  display: block;
  margin: 0;
  padding: 0;
}

/* line 66, ../sass/_carousel.scss */
a.control_prevSlide {
  z-index: 4;
  width: 55px;
  height: 55px;
  top: 225px;
  left: 0;
  margin-top: -27.5px;
  position: absolute;
  cursor: pointer;
  display: block;
  background: url(/app/webroot/images/a13.png) center center no-repeat;
  overflow: hidden;
  background-position: -10px -33px;
}

/* line 82, ../sass/_carousel.scss */
a.control_nextSlide {
  z-index: 4;
  width: 55px;
  height: 55px;
  top: 225px;
  margin-top: -27.5px;
  right: 0;
  position: absolute;
  cursor: pointer;
  display: block;
  background: url(/app/webroot/images/a13.png) center center no-repeat;
  overflow: hidden;
  background-position: -55px -33px;
}

/* line 1, ../sass/_featured.scss */
.feature {
  display: block;
  position: relative;
  width: 100%;
  height: 210px;
  overflow: hidden;
}

/* line 9, ../sass/_featured.scss */
.featureContainer {
  height: 100%;
  position: relative;
}

/* line 14, ../sass/_featured.scss */
.feature ul {
  position: relative;
  list-style-type: none;
  padding: 0;
}

/* line 20, ../sass/_featured.scss */
.feature ul li {
  width: 200px;
  height: 200px;
  margin: 0 3px;
  float: left;
}

/* line 27, ../sass/_featured.scss */
.feature ul li img.featureImg {
  width: 100%;
  height: 100%;
  background-size: 100%;
}

/* line 4, ../sass/_home.scss */
.banner {
  position: relative;
  width: 100%;
  height: 210px;
  background-color: white;
}

/* line 11, ../sass/_home.scss */
.logo {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  background: url(../img/biker-logo.png) no-repeat;
  background-size: 100%;
}

/* line 19, ../sass/_home.scss */
.homeContent {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid white;
}

/* line 27, ../sass/_home.scss */
.railContent {
  display: block;
  position: relative;
  height: 100%;
}

/* line 34, ../sass/_home.scss */
.contact {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 300px;
  height: 100px;
  color: black;
  text-align: left;
}

/* line 44, ../sass/_home.scss */
.address {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 300px;
  height: 100px;
  color: black;
  text-align: right;
}

/* line 54, ../sass/_home.scss */
.divider {
  width: 100%;
  height: 20px;
  background-color: black;
}

/* line 60, ../sass/_home.scss */
.mainDisplay {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

/* line 66, ../sass/_home.scss */
.mainDisplay img {
  width: 100%;
}

/* line 70, ../sass/_home.scss */
.subDisplay img {
  width: 300px;
  height: 225px;
  background-size: 100%;
}

/* line 76, ../sass/_home.scss */
.displayContainer {
  padding: 10px;
}

/* line 80, ../sass/_home.scss */
.module ul {
  list-style: none;
  padding-left: 0;
}

/* line 84, ../sass/_home.scss */
.module ul li {
  float: left;
  width: 50%;
  padding-left: 10px;
  margin-bottom: 10px;
}

/* line 91, ../sass/_home.scss */
.col-md-2 {
  position: relative;
  width: 33%;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 98, ../sass/_home.scss */
.module {
  border-top: 1px solid #eee;
}

/* line 104, ../sass/_home.scss */
.imageModule ul {
  list-style: none;
  float: left;
}

/* line 109, ../sass/_home.scss */
.img-responsive {
  width: 100%;
}

/* line 113, ../sass/_home.scss */
.slide {
  cursor: pointer;
  position: relative;
}

/* line 118, ../sass/_home.scss */
.slideHeader {
  color: white;
  font-size: 15pt;
}

/* line 123, ../sass/_home.scss */
.slideMessage {
  color: white;
  font-size: 9pt;
}

/* line 128, ../sass/_home.scss */
.relative {
  position: relative;
}

/* line 132, ../sass/_home.scss */
.tiles {
  max-width: 700px;
  margin: 0 auto;
}

/* line 137, ../sass/_home.scss */
.tiles img {
  max-height: 227px;
}

/* line 141, ../sass/_home.scss */
.slideContent {
  position: absolute;
  bottom: 0;
  left: 5px;
  transition: bottom 0.5s ease;
}

/* line 148, ../sass/_home.scss */
.gradient {
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 13%, rgba(0, 0, 0, 0) 53%, rgba(0, 0, 0, 0.65) 78%, rgba(0, 0, 0, 0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(13%, rgba(0, 0, 0, 0)), color-stop(53%, rgba(0, 0, 0, 0)), color-stop(78%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 13%, rgba(0, 0, 0, 0) 53%, rgba(0, 0, 0, 0.65) 78%, rgba(0, 0, 0, 0.65) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 13%, rgba(0, 0, 0, 0) 53%, rgba(0, 0, 0, 0.65) 78%, rgba(0, 0, 0, 0.65) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 13%, rgba(0, 0, 0, 0) 53%, rgba(0, 0, 0, 0.65) 78%, rgba(0, 0, 0, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 13%, rgba(0, 0, 0, 0) 53%, rgba(0, 0, 0, 0.65) 78%, rgba(0, 0, 0, 0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  transition: all .2s ease;
}

/* line 166, ../sass/_home.scss */
.overlay {
  z-index: 9;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 173, ../sass/_home.scss */
.subContent {
  margin: 0 auto;
  max-width: 1000px;
}

/* line 178, ../sass/_home.scss */
.railContent {
  min-width: 188px;
}

/* line 4, ../sass/default.desktop.scss */
body {
  background: url(../img/carbon.jpg);
  height: 100%;
  width: 100%;
}

/* line 10, ../sass/default.desktop.scss */
h1 {
  color: black;
}

/* line 14, ../sass/default.desktop.scss */
h2 {
  color: black;
}

/* line 18, ../sass/default.desktop.scss */
.wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
}

/* Sticky footer styles
-------------------------------------------------- */
/* line 26, ../sass/default.desktop.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 30, ../sass/default.desktop.scss */
body {
  /* Margin bottom by footer height */
}

/* line 34, ../sass/default.desktop.scss */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100%;
  background-color: white;
  margin-bottom: 40px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/* line 52, ../sass/default.desktop.scss */
.container .text-muted {
  margin: 20px 0;
}

/* line 56, ../sass/default.desktop.scss */
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* line 61, ../sass/default.desktop.scss */
code {
  font-size: 80%;
}

/* line 67, ../sass/default.desktop.scss */
.col-md-3 {
  float: left;
}

/* line 71, ../sass/default.desktop.scss */
.logoImageFooter {
  position: relative;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  margin-top: 20px;
  max-width: 150px;
}

/* line 81, ../sass/default.desktop.scss */
.foot-text {
  padding: 20px 0;
  float: none !important;
  text-align: center;
  margin: 0 auto;
}

/* line 88, ../sass/default.desktop.scss */
ul.footLinks {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

/* line 94, ../sass/default.desktop.scss */
.footContent h3, .footContentLast h3 {
  font-size: 1.25em;
}

/* line 99, ../sass/default.desktop.scss */
.footContent {
  height: 100%;
  min-height: 140px;
  box-shadow: 1px 0 #fff;
  border-right: 1px solid #c7c7c7;
}

/* line 107, ../sass/default.desktop.scss */
.footContentFirst {
  height: 100%;
  min-height: 140px;
  box-shadow: 1px 0 #fff;
  border-right: 1px solid #c7c7c7;
}

/* line 114, ../sass/default.desktop.scss */
.footContentLast {
  height: 100%;
  min-height: 140px;
}

@media (max-width: 450px) {
  /* line 127, ../sass/default.desktop.scss */
  .footContent h3, .footContentLast h3 {
    font-size: .90em;
    text-align: left;
  }
}
/* line 133, ../sass/default.desktop.scss */
.fbFollow {
  width: 40%;
  height: auto;
  min-width: 30px;
}

/* line 139, ../sass/default.desktop.scss */
.fbFollow img {
  width: 40px;
  height: auto;
}
